 body{
    font-family: arial,sans-serif;
    margin: 0;
    padding: 0;
 }
 .container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
 }
 .gallary{
    display: grid;
    grid-template-columns: repeat(auto);
    grid-gap: 20px;
 }
 h1{
    text-align: center;
 }
 .image{
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
 }
 .image img{
    width: 100%;
    height: auto;
    display: block;
 }